.container {
  min-height: 100vh;
  /* width: 100vw; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  text-align: center;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.delete{
  background-color: red;
}
.formWrapper{
  /* width: ; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #e9e9e9;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
.button{
  width: max-content;
  padding: 5px 19px 5px 19px;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  outline: none;
  /* background-color: red; */
  color: white;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;

  margin: 20px;
}
.loginWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
font-family: 'Poppins', sans-serif;
  font-weight: 500;
  width: max-content;
  padding:  30px;
  border-radius: 10px;
  background-color: #e9e9e9;
  color: black;
  font-size: 1.1rem;

}
.add{
  background-color: #2568FB;
}
.mainWrappper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  text-align: center;
  /* background-color: #E9E9E9; */
}
.lable{
  padding: 2px;
  text-align: left    ;
}
.loginWrapper img{
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  
}
.loginText{
  font-size: 1.5rem;
  margin: 2rem;
  margin-bottom: 0rem!important;
  color: #e9e9e9;
  font-weight: 500;
font-family: 'Poppins', sans-serif;

}
.emailInput{
  padding: 8px 10px 8px 10px;
  width: 220px;
  font-size: 1rem;
  border-radius: 5px;
  border: 0px solid white;
  outline: none;
font-family: 'Poppins', sans-serif;


}
.component{
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;

}
.captcha div{
  width: 270px;
  font-size: 0.9rem;
  color: #8D8D8D;
  padding: 1.5px 0px  1.5px 0px ; 

}
.captcha{
  width: 200px;
  transform: scale(0.8);

}
.g-recaptcha{
  width: 200px;
  border-radius: 10px;
}
iframe{
  border-radius: 10px;
  border: 2px solid #8D8D8D;
font-family: 'Poppins', sans-serif;
}

.submitWrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:  20px 0px 20px 0px ;
}
.image img{
 
  padding: 20px;
}
.redirect{
  padding: 8px 10px 8px 10px;
  width: 220px;
  font-size: 1rem;
  border-radius: 5px;
  margin: 20px;
  border: 2px solid black;
  outline: none;
font-family: 'Poppins', sans-serif;
  text-decoration: none!important;
  /* remove underline */
  color: black;
  cursor: pointer;
  text-align: left;
  
 

}
a{
  text-decoration: none!important;
  /* remove underline */
  color: black;
  cursor: pointer;
}
.logOut{
  width: max-content;
  padding: 11px 29px 11px 29px;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid black;
  outline: none;
font-family: 'Poppins', sans-serif;
  background-color: #FFAA46;
  color: black;
  cursor: pointer;
  justify-self: center;
  align-self: center;
  margin-bottom: 30px;
}
.submit{
  width: max-content;
  padding: 5px 19px 5px 19px;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: #2568FB;
  color: white;
  cursor: pointer;
  /* margin: 10px; */
}
.submitWrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:  10px 0px 5px 0px ;
}
.buttonWrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:  20px 0px 5px 0px ;
}.formWrapper{
  display: flex;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
font-family: 'Poppins', sans-serif;

}
.addNew{
  background-color: white;
  color: black;
}
.component input{
  margin: 10px;
  margin-bottom: 20px;
}

.eye{
  background-color: white;
  border-radius: 50%;
  cursor: pointer; border-radius: 50%;
  padding: 9px;
}
.eye:hover{
  background-color: rgb(84, 84, 84 , 0.2);
}
.but:hover{
  background-color: rgb(84, 84, 84 , 0.2);
}
.eyedev{
  background-color: white;
  border-radius: 50%;
  cursor: pointer; border-radius: 50%;
  padding: 9px;
}
.dev:hover{
  background-color: none!important;
  
}
.dev{
  background-color: transparent;
  color: rgb(170, 170, 170)!important;
  cursor: auto!important;
}
.component{
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.lable{
  padding: 2px;
  text-align: left  
  ;
  margin-right: 10px;
  font-family: 'Poppins', sans-serif;
  color: black;
  
}
.inputBox{
padding: 8px 10px 8px 10px;
width: 220px;
font-size: 1rem;
border-radius: 5px;
border: 0px solid white;
outline: none;
font-family: 'Poppins', sans-serif;


}.formWrapper{
  /* width: ; */
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background-color: #e9e9e9;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}