@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 600 !important;
  font-family: "Plus Jakarta Sans", sans-serif !important;
}
body {
  background-color: var(--root-color);
}

:root {
  --root-color: #5c2b2b;
  --header-color: #e0d9ca;
}
.Toastify,
.Toastify__toast-container,
.Toastify__toast {
  background-color: unset !important;
  box-shadow: unset !important;
}

.toast-container {
  width: max-content;
  padding: 0px !important;
  background: transparent;
}
.css-sq9qdz {
  width: 100vw !important;
  display: flex !important;
  flex-direction: row-reverse !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.custom-autocomplete .MuiAutocomplete-popper {
  flex-direction: column-reverse;
}

/* Adjust the spacing between dropdown items if needed */
.custom-autocomplete .MuiAutocomplete-listbox {
  padding: 8px 0; /* You can adjust the padding as per your preference */
}
